.logo {
  width: 80px;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 5px grey;
  position: sticky;
  align-items: center;
  position: relative;
  z-index: 10;
}
.link a {
  color: inherit;
  padding-right: 7px;
  top: 0;
  left: 0;
  bottom: 0;
}
.link span {
  color: grey;
}
/* {
    padding-bottom: 12px;
  } */
/* ------------------header---------------------- */
.link {
  display: flex;
  align-items: center;
}
.right1 {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  gap: 20px;
}
.nav-container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.nav-container1 span {
  margin-top: 35px;
  color: grey;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.right > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 250px;
  padding: 50px;
  position: relative;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.card h3 {
  margin-bottom: -10px;
}
.image-card {
  width: 250px;
  padding-bottom: 0;
}
.card p {
  font-weight: 100;
}
.rating {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.offer {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  display: grid;
  grid-template-columns: auto;
}
.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: black;
  padding: 40px;
}
.footer > div {
  display: flex;
  flex-flow: column wrap;
  gap: 7px;
}
.footer > div > a {
  color: white;
  text-decoration: none;
  gap: 15px;
}
.bullet {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}
.rating > .starrer {
  display: flex;
  align-items: center;
  background-color: #db7c38;
  color: azure;
  font-size: 13px;
  padding: 2px;
}
.star {
  font-size: 13px !important;
}
.grid-item h3 {
  color: grey;
}
/* 
  .grid1 {
    padding: 100px;
  }
  .grid1 a {
    padding: 10px;
  }
  .grid2 h3 {
    padding-top: 100px;
    margin-bottom: -80px;
  }
  .grid2 a {
    padding: 0px;
  }
  .grid3 h3 {
    padding-top: 100px;
    margin-bottom: -20px;
  }
  .grid-item a {
    color: inherit;
    color: whitesmoke;
    text-decoration: none;
  } */
.grid4 img {
  width: 180px;
  transition-duration: 0.5s;
}
.grid4 img:hover {
  width: 220px;
}
.btn {
  display: block;
  border: none;
  font-weight: bold;
  color: blue;
  margin: 5px auto;
  padding: 0px 0;
  visibility: hidden;
  background-color: white;
}
footer a:hover {
  font-weight: bold;
}
.card:hover {
  outline: 1px solid grey;
}
.card:hover .btn {
  visibility: visible;
}
.menu {
  display: none;
}
/* -------------------media query----------------- */

@media (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(2, auto);
  }
  .footer {
    grid-template-columns: repeat(2, auto);
  }
  .right {
    display: none;
  }
  .menu:hover + .right {
    padding-top: 20px;
    display: flex;
    flex-flow: column wrap;
    background-color: aliceblue;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100vh - 80px);
    justify-content: flex-start;
    align-items: stretch;
  }
  .right > div {
    align-items: stretch;
    justify-content: space-evenly;
  }
  .menu {
    display: block;
  }

  /* @media (maxwidth: 400px) {
    .card-container {
      grid-template-columns: auto;
      justify-items: center;
    }
    .footer {
      grid-template-columns: auto;
      gap: 20px;
    }
  } */

  /* ----------------mobile view------------ */
  @media (max-width: 400px) {
    .card-container {
      grid-template-columns: repeat(1, auto);
    }
    .footer {
      grid-template-columns: repeat(1, auto);
    }
    .right {
      display: none;
    }
    .nav-container1 > .right1 {
      display: none;
    }
    .menu:hover + .right {
      padding-top: 20px;
      display: flex;
      flex-flow: column wrap;
      background-color: aliceblue;
      position: absolute;
      top: 80px;
      right: 0;
      width: 200px;
      height: calc(100vh - 80px);
      justify-content: flex-start;
      align-items: stretch;
    }
    .right > div {
      align-items: stretch;
      justify-content: space-evenly;
    }
    .menu {
      display: block;
    }
  }
}
/*.badge {
  background-color: #393c41;
  width: 10px;
  margin: 10px;
  position: absolute;
  top: 20px;
  z-index: 10;
  left: 0;
  margin: 0;
}
.bagde::before {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black;
  position: absolute;
  z-index: -1;
  top: 6px;
  transform: skew(30deg);
}
*/
.card::before {
  content: "PROMOTED";
  display: block;
  position: absolute;
  background-color: black;
  color: white;
}
